
<link rel="stylesheet" href="/css/interviewStyles.css">

<!-- container -->
<div class="container">

    <!-- row -->
    <div class="row g-2">

        <!-- column 1 interview form -->
        <div class="col-10 col-md-5 col-lg-4 overflow mx-auto">

            <div class="bg-white p-2 rounded-4" style="height: 85vh;">
                <h2 class="mt-4 mb-3 text-center">Create Interview</h2>

                <!-- form element -->
                <form action="" class="fs-6" method="post">
                    <!-- company name -->
                    <div class="mt-3">
                        <label class="form-label" for="comp-name">Company Name</label>
                        <input type="text" id="comp-name" name="compName" class="form-control">
                    </div>

                    <!-- Interview Date -->
                    <div class="mt-3">
                        <label class="form-label" for="interview-date">Interview Date</label>
                        <input type="datetime" id="interview-date" name="interviewDate" class="form-control">
                    </div>

                    <!-- btn -->
                    <button type="submit" class="btn fs-4 mt-3 d-block mx-auto">Create Interview</button>
                </form>
            </div>

        </div>

        <!-- column 2 Interview lists -->
        <div class="col-10 col-md-7 col-lg-8 mx-auto">

            <!-- Container for interviews -->
            <div class="p-2 bg-white rounded-4 overflow" style="height: 85vh;">
                <h2>Interviews</h2>

                <!-- Interview Item -->
                <div class="text-bg-light rounded-2 mb-2">
                    <!-- Company name & date & Expand/collapse arrow -->
                    <div class="d-flex justify-content-between align-items-center p-2">
                        <div>
                            <h4>XYZ pvt, Ltd</h4>
                            <h6 class="text-secondary">12 Jul, 2022</h6>
                            <!-- div to add student -->
                            <div>
                                <input type="hidden" id="interview-id" value="">
                                <div class="mt-3">
                                    <label class="form-label" for="stud-list">Add Student</label>
                                    <!-- Student list to select from -->
                                    <select id="stud-list" name="studAdd" class="form-select">
                                        <option value="placed">
                                            <div class="d-flex flex-column">
                                                <p>Mayank Agrawal</p>
                                                <p>
                                                    (ID:
                                                    <span>CN230820221</span>)
                                                </p>
                                            </div>
                                        </option>
                                    </select>
                                </div>
                                <button type="button" class="btn mt-2">Add</button>
                            </div>
                        </div>
                        <div id="interview-expand" class="me-2">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div id="interview-collapse" class="me-2 hidden">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>

                    <!-- Div holding list of students for that interview -->
                    <div id="interview-batch" class="hidden p-1">

                        <!-- Student 1 -->
                        <div class="p-2 border-bottom border-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Student name & College -->
                                <div>
                                    <h6>Mayank Agrawal</h6>
                                    <p>NIT, Nagpur</p>
                                </div>
                                <!-- Student status -->
                                <p>
                                    Status:
                                    <span>Placed</span>
                                </p>
                            </div>
                            <div>
                                <!-- Update result of interview for student -->
                                <h6>Result</h6>
                                <div>
                                    <form action="" method="post">
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-pass" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-pass">Pass</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-fail" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-fail">Fail</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-onHold" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-onHold">On Hold</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-didNotAttempt" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-didNotAttempt">Didn't Attempt</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-pending" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-pending">Pending</label>
                                            </div>
                                        </div>

                                        <button type="button" class="btn mt-3">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Student 2 -->
                        <div class="p-2 border-bottom border-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h6>Mayank Agrawal</h6>
                                    <p>NIT, Nagpur</p>
                                </div>
                                <p>
                                    Status:
                                    <span>Placed</span>
                                </p>
                            </div>
                            <div>
                                <h6>Result</h6>
                                <div>
                                    <form action="" method="post">
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-pass" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-pass">Pass</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-fail" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-fail">Fail</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-onHold" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-onHold">On Hold</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-didNotAttempt" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-didNotAttempt">Didn't Attempt</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-pending" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-pending">Pending</label>
                                            </div>
                                        </div>

                                        <button type="button" class="btn mt-3">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Student 3 -->
                        <div class="p-2 border-bottom border-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h6>Mayank Agrawal</h6>
                                    <p>NIT, Nagpur</p>
                                </div>
                                <p>
                                    Status:
                                    <span>Placed</span>
                                </p>
                            </div>
                            <div>
                                <h6>Result</h6>
                                <div>
                                    <form action="" method="post">
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-pass" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-pass">Pass</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-fail" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-fail">Fail</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-onHold" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-onHold">On Hold</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-didNotAttempt" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-didNotAttempt">Didn't Attempt</label>
                                            </div>
    
                                            <div class="form-check mx-2">
                                                <input type="radio" id="stud-result-pending" name="studResult" class="form-check-input">
                                                <label class="form-check-label" for="stud-result-pending">Pending</label>
                                            </div>
                                        </div>

                                        <button type="button" class="btn mt-3">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



<script src="/scripts/interviewScripts.js"></script>
