
<!-- Footer for page -->
<footer class="d-flex flex-column align-items-center mt-3">

    <!-- social icons -->
    <div class="my-4">
        <span class="text-light fs-5">Follow us at: </span>
        <a href="#" class="text-light fs-4 mx-3"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#" class="text-light fs-4 mx-3"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="text-light fs-4 mx-3"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="text-light fs-4 mx-3"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" class="text-light fs-4 mx-3"><i class="fa-brands fa-facebook-f"></i></a>
    </div>

    <!-- copyright info -->
    <div class="">
        <p class="text-light">
            <span><i class="fa-regular fa-copyright"></i></span>
            1990 - 2023 by xyz.com
        </p>
    </div>
</footer>